.spotify-window{
    background-color: aliceblue;
    width: 50%;
    height: 70%;
    text-align: center;
    /* padding-left: 2%; */
    position: absolute;
}

.spotify-play-img{
    height: 70%;
    /* margin-left: auto;
    margin-right: auto;
    display: block; */
}

/* .spotify-song-stats{
    text-align: center;
    display: block;
} */

/* .center{
    margin: auto;
} */

.sp-text{
    margin: 0;
}

.sp-top{
    margin: 10px;
}