.header{
    background-color: #46137c;
    height:10%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.spotify-window{
    background-color: aliceblue;
    width: 50%;
    height: 85%;
    left:0.1%;
    bottom:1.2%;
    text-align: center;
    /* padding-left: 2%; */
    position: absolute;
}

.spotify-play-img{
    height: 70%;
    margin-top:5%;
    /* margin-left: auto;
    margin-right: auto;
    display: block; */
}

/* .spotify-song-stats{
    text-align: center;
    display: block;
} */

/* .center{
    margin: auto;
} */

.sp-text{
    margin: 0;
}

.sp-top{
    margin: 10px;
}