body{
  margin: 0;
  padding: 0;
  background-color: black;
}
.App{
  height: 100vh;
  background-color: black;
  
}
.container{
  display: flex;
  justify-content: center;
  height:15%
 
}
.Title{

  
  
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: textclip 2s linear infinite; */
  display: inline-block;
  margin: 0;
  
      font-size: 5rem;
      /* @keyframes textclip {
        to { 
           background-position: 100% top;
        }
      } */
}
.btn{
  height: 5vh;
  width: 10vh;
  background-color:#5e269a;
  color: white;
  position:fixed;
  right: 0;
  bottom: 0;
  margin:2vh;
  border-radius:2vh;
  cursor: pointer;

}

.btn-logout{
  height: 5vh;
  width: 10vh;
  background-color:#5e269a;
  color: white;
  position:fixed;
  right: 0;
  top: 0;
  margin:2vh;
  border-radius:2vh;
  cursor: pointer;

}
.message{
  height:80%;

 
}
.titlediv{
  display:flex;
  align-items: center;
  justify-content: center;
}

.login{
  display: flex;
  align-items: center;
  justify-content: center;
}

#spotifylogo{
  margin-top: 10%;
  height: 10vmax;
  margin-bottom:100px;
  min-height: 200px;
}

.spotifybtn{
 
  width:30%;
  max-width: 300px;
  border-radius: 10vmax;
  background-color: rgb(30,215,96);
  cursor:pointer;
  transition: all 0.3s;
  border-color: aliceblue;
}
.loginUrl{
  color:black;
  text-decoration: none;
}

.spotifybtn:hover{
  transform:scale(1.2) ;
}
